.content {
    background-color: red;
    width: 300px;
    height: 70px;
    overflow: auto;
    

  /* Cenrralizando a div vertical e horizontalmente */
  position: absolute;
  top: 50%; /* posiciona na metade da tela */
  margin-top: -25px; /* e retrocede metade da altura */
  left: 50%; /* posiciona na metade da tela */
  margin-left: -150px; /* e retrocede metade da largura */
}