
/*
    Cores definidas diretamente com o nome da cor, em hexadecimal ou em rgb
*/

.linear-gradient-horizontal {
    background: linear-gradient(orange, black);
    margin-top: 10px;
    width: 300px;
    height: 200px;
}

.linear-gradient-vertical {
    background: linear-gradient(to right, orange, black);
    margin-top: 10px;
    width: 300px;
    height: 200px;
}

.radial-gradient {
    background: radial-gradient(orange, black);
    margin-top: 10px;
    width: 300px;
    height: 200px;
}

.radial-gradient, p {
    color: white;
}